<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>407838315524-5v5q8nqdbi952df3rfvutf1lv9hbfcp9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.407838315524-5v5q8nqdbi952df3rfvutf1lv9hbfcp9</string>
	<key>API_KEY</key>
	<string>AIzaSyDzJmu42I1Y4RL12GQIE3ujCLIFrYnAPM8</string>
	<key>GCM_SENDER_ID</key>
	<string>407838315524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moveMetricsApp</string>
	<key>PROJECT_ID</key>
	<string>sport-database-552b0</string>
	<key>STORAGE_BUCKET</key>
	<string>sport-database-552b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:407838315524:ios:96b147e02a76f6b7f25151</string>
</dict>
</plist>